{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Find the Selling Price of your Car</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <h4>Present Price of Car</h4><input type="number" name="present_price" id="present_price">
            <h4>KMs driven on this car</h4><input type="number" name="kms_driven" id="kms_driven">
            <h4>Past owners one two ot three</h4><input type="number" name="owner" id="owner">
            <h4>Year in which car manufactured</h4><input type="number" name="year" id="year">
            <h3> What is the Fuel Type</h3><br><select name="fuel_type" id="fuel_type">
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
                <option value="CNG">CNG</option>
            </select>
            <h3> Are you a Dealer or Individual</h3><br><select name="seller_type" id="seller_type">
                <option value="Dealer">Dealer</option>
                <option value="Individual">Individual</option>
            </select>
            <h3> What is the transmission type</h3><br><select name="transmission_type" id="transmission_type">
                <option value="Manual">Manual Car</option>
                <option value="Automatic">Automatic Car</option>
            </select>


            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}